node_modules/
dist/
.env
.DS_Store
*.rdb
*.resolved
*.js.map
coverage/
.expo/
ios/
android/
.planning
sozlesme.md
gorseller/
design/
**/.env.example
checklist.md
DEFINITION_OF_DONE.md
GEMINI.md
*.docx
.vscode
.docx

# SSH and Keys
*.pem
*.key
id_rsa*
id_ecdsa*
id_ed25519*
.ssh/
*.py